body {
	font-family: Verdana;
	margin: 0px;
	background-image: url("vidrio.jpg");
}
#Presenta {
	padding: 3px;
	padding: 20px;
	padding-left: 30px;
	font-size: 150%; 
	text-align: left;
	background-color: green;
	opacity: 0.8;
	box-shadow: inset;

}
#Presenta p{
	margin-top: 50px;
	font-weight: bold;
}
#rojo {
	background-color: #cc0000;
	padding: 50px;
}
#azul {
	background-color: #0099cc;
	padding: 20px;
}
#amarillo{
	background-color:#FDFD03;
	padding: 20px;
}
#naranja {
	background-color: #FDA712;
	padding: 20px;
}
#violeta {
	background-color: #FD12F5;
	padding: 20px;
}
.menu {
	text-align: left;
	font-weight: bold;
	padding: 20px;
	clear: both;
	background-color: #FF8000;
}
.menu a {
	color: #222B25;
	text-decoration: none;
	margin-right: 25px;
	border-radius: 20%;
}
h3 {
	text-align: center;
}
#contenido {
	overflow: auto;
	background-color: green;
	margin-top: 50px;
	margin-right: 25px;
	border-radius: 20%;
}
#contenido h3{
	color: red;
	margin-bottom: 40px;
	text-align: center;
}
#contenido p{
	color:#010101;
	font-weight: bold;
	text-align: center;
	
}
#imagen img {
	float: left;
	margin: 25px;
	margin-top: 50px;
	border: solid red 3px;
	height: 300px;
	width: 600px;
}

#Presenta img{
	float: left;
	margin-left: 455px;
	border: solid red 3px;
	max-width: 100px;
	max-height:130px;
	margin-top: 10px;
}

#final  {
	position: absolute;
	bottom: 0px;
	width:1360px;
}
@media (max-width: 1080px) {
	.menu {
		padding: 35px;
		margin-right: 0px;
		font-size: 10px;
		opacity: 0.9;
	}
	#rojo {
		padding: 30px;
	}
	#imagen img {
		height: 200px;
		width: 450px;
	}
	#contenido p {
		font-size: 9px;
	}
	#contenido h3 {
		font-size: 10px;

	}
} 
